/* GENERIC */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  max-width: 100%;
}



/* UTILITIES */

.tx-center{
  text-align: center;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 10px auto;
}

.fl{
  float: left;
}

/* MAIN */

/* IMAGES & IMG ACCESSORIES */

.image-box{
  position: relative;
  display: inline-block;
  width: 33%;
  padding-right: 10px;
}

.tags{
  position: absolute;
  bottom: 100px;
  left: 0;
  font-size: 12px;
  color: white;
}

.discount, .dress-green{
  padding: 3px;
  font-weight: bold;
}

.discount{
  background-color: #eb0037;
  margin-right: 4px;
}

.dress-green{
  background-color: #00875a;
}

.heart{
  position: absolute;
  right: 10px;
  top: 15px;
  background-color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
}


/* HOVER */

div.image-box img.hover-image{
  display: none;
}

div.image-box:hover img.hover-image{
  display: block;
  position: absolute;
  top: 0;
  padding-right: 10px;
}

div.image-box:hover .heart{
  color: red;
}

/* MAIN TEXT */

span.brand{
  font-size: 0.8rem;
}

span.article-name{
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.actual-cost, .full-cost{
  font-size: 0.8rem;
}

.actual-cost{
  color: red;
  font-weight: bold;
}

.full-cost{
  text-decoration: line-through;
}

section.text{
  margin-bottom: 30px;
}