/* GENERIC */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}



/* UTILITIES */

.tx-center{
  text-align: center;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 10px auto;
}

.fl{
  float: left;
}

/* MAIN */

/* IMAGES & IMG ACCESSORIES */

.card{
  width: calc(100% / 3 - 20px);
  display: inline-block;
  padding-right: 10px;
  padding-top: 10px;
}

.image-box{
  position: relative;
}

div.image-box img.hover-image{
  display: none;
}

/* .card.left{
  margin-right: 10px;
} */

/* .card.right{
  margin-left: 10px;
} */

.tags{
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 12px;
  color: white;
}

.discount, .dress-green{
  padding: 3px;
  font-weight: bold;
}

.discount{
  background-color: #eb0037;
}

.dress-green{
  background-color: #00875a;
}

.heart{
  position: absolute;
  right: 0px;
  top: 15px;
  background-color: white;
  padding: 5px 10px;
  font-size: 20px;
}


/* HOVER */
div.image-box:hover img.first-image{
  display: none;
}

div.image-box:hover img.hover-image{
  display: inline-block;
}

div.image-box:hover .heart{
  color: red;
}

/* MAIN TEXT */

section.text h3{
  text-transform: uppercase;
  font-size: 16px;
}

section.text span{
  font-size: 0.8rem;
}

.actual-cost{
  color: red;
  font-weight: bold;
}

section.text{
  margin-bottom: 20px;
}